.gradientBorder {
  position: relative;
  background-clip: padding-box;
  border: solid 1px transparent;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: 1px;
    border-radius: inherit;
    background: linear-gradient(to right, #5f4a82, #b3bdcb);
  }
}
